.list-container {
  display:flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}
.article-item {
  flex: 1 1 0;
}
.article-item span{
  color:#939393;
  font-size:12px;
}