#root{
  margin: 0 auto;
  max-width:1200px;
}
.list-container {
  display:flex;
  justify-content: center;
  list-style-type: none;
  
}
.article-item {
  flex: 1 1 0;
}
.article-item span{
  color:#939393;
  font-size:12px;
}